# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon 
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

eclipse/*
bin*
.gradle*
.settings*
.classpath
.gitattributes
.project
CREDITS-fml.txt
MinecraftForge-License.txt
README.txt
build.gradle
forge-1.7.10-10.13.0.1198-changelog.txt
gradlew*
